<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/postpage.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <div class="nav-container">
                    <img class="nav-logo" src="https://kuma.io/assets/images/social/og-image-1200-630.jpg?cb=1730815037"
                        alt="Logo" height="65" width="125px">
                    <ul class="nav-list">
                        <!-- Replace with the actual image URL -->
                        <li class="nav-items"><a href="/">Home</a></li>
                        <li class="nav-items"><a href="/products/search">Products</a></li>
                        <li class="nav-items"><a href="/users/account">Account</a></li>
                    </ul>
                    <button type="button" class="cart_button" onclick="move_to_cart_page()">
                        <a href="/order-items/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                color="#000000" fill="none">
                                <path
                                    d="M8 16H15.2632C19.7508 16 20.4333 13.1808 21.261 9.06908C21.4998 7.88311 21.6192 7.29013 21.3321 6.89507C21.045 6.5 20.4947 6.5 19.3941 6.5H6"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path d="M8 16L5.37873 3.51493C5.15615 2.62459 4.35618 2 3.43845 2H2.5"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                <path
                                    d="M8.88 16H8.46857C7.10522 16 6 17.1513 6 18.5714C6 18.8081 6.1842 19 6.41143 19H17.5"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <circle cx="10.5" cy="20.5" r="1.5" stroke="currentColor" stroke-width="1.5" />
                                <circle cx="17.5" cy="20.5" r="1.5" stroke="currentColor" stroke-width="1.5" />
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <h2 id="main_heading">Add Your Products:</h2>
        <form action="/products/upload" name="addProductform" onsubmit="return Validate()" method="POST" enctype="multipart/form-data">

            <div class="product_info" id="name_div">
                <!-- name of the product server-side-name = "product_name", a required field-->
                <label for="product_name" class="style-label">Name of the Product:</label>
                <input type="text" class="style-input" id="product_name" name="product_name" required>
            </div>
            <div class="product_info">
                <!-- this is for product category, server-side-name = "product_category" -->
                <label for="product_category" class="style-label">Category:</label>
                <select name="product_category" class="style-input" id="product_category" required>
                    <option>Home Appliances</option>
                    <option>Groceries</option>
                    <option>Men's Clothing</option>
                    <option>Women's Clothing</option>
                    <option>Toddler's Clothing</option>
                    <option>Electrical Devices</option>
                    <option>Riding Essentials</option>
                    <option>Baby Care Essentials</option>
                    <option>Sports & Outdoor</option>
                    <option>Accessories</option>
                    <option>Pet Essentials</option>
                </select>
            </div>
            <div class="product_info" id="variant_div">
                <!-- this is to add different variants of product, at least one is required. -->
                <label class="style-label" id="variant" for="add_button_variant">Variant:</label>
                <button class="button add_button" type="button" onclick="addMoreVariant()">Add</button>
                <div class="formerror"></div>
                <!-- "addMore": function to create additional input fields, implementation in script tag. -->
            </div>
            <div class="product_info" id="image_div">
                <!-- this is to add different variants of product, at least one is required. -->
                <label class="style-label" id="variant" for="add_button_image">Image:</label>
                <button class="button add_button" type="button" onclick="addMoreImage()">Add</button>
                <div class="formerror"></div>
                <!-- "addMore": function to create additional input fields, implementation in script tag. -->
            </div>
            <div class="product_info">
                <!-- this is for product details, server-side-name = "product_details", required field -->
                <label for="pr_details" class="style-label">Product Details:</label>
                <textarea name="product_details" class="style-input" id="pr_details" rows="10" cols="50"
                    required></textarea>
                <div class="note">*Note: Enter your product name, brand, brief description of your product(dimensions,
                    colors, size, uses, material, warranty, etc.), how to use, matters of attention and so on.</div>
            </div>
            <div class="product_info" id="tag_div">
                <!-- this is for tags to enhance search implementation, server-side-name = "product_tags" -->
                <label for="tags" class="style-label">Tags:</label>
                <textarea name="product_tags" class="style-input" id="tags" rows="10" cols="50"></textarea>
                <div class="formerror"></div>
                <!-- note to the user to follow the instructions when creating tags. -->
                <div class="note">*Note: Enter tags related to your product like color, model, brand name, etc. <br>
                    Please follow the following instructions when entering tags:
                    <ol type="1">
                        <li>Enter the sign '#' before your tag names.</li>
                        <li>Do not leave any space between the sign and your tag names.</li>
                        <li>Enter as many tags as possible related to your products like your color, model name, brand
                            name material, etc. This will increase your product visibility in the search content.</li>
                        <li>Please leave a space before entering another tag.</li>
                        <li>If there are multiple names in a single tag, separate them with the underscore sign '_'.
                        </li>
                        <li>Here are some examples of how your tag should look. <i>#color #brand_name #model_name,
                                etc.</i></li>
                    </ol>
                </div>
            </div>
            <div class="product_info" id="price_div">
                <!-- this is for price of the product, server-side-name = "pr_price", a required field -->
                <label for="price" class="style-label">Enter the Product Price:</label>
                <input type="number" name="product_price" class="style-input" id="price" step="0.1" required>
                <span class="formerror"></span>
            </div>
            <div class="product_info" id="stock">
                <!-- stock number, need to update itself afte the product decreases, server-side-name = "stock" -->
                <label class="style-label" for="stock">Stock:</label>
                <input type="number" class="style-input" id="in_stock" name="product_stock"
                    placeholder="Enter the number of products in your stock" required>
                <span class="formerror"></span>
            </div>

            <!-- button to submit the form or to add product to the search page. -->
            <button class="button" onclick="">Add Product</button>
        </form>
    </main>
</body>

<!-- JS implementation -->
<script src="/javascript/postpage.js" type="text/javascript"></script>

</html>