.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col2 {
    flex-basis: 40%;
    min-width: 300px;
    position: relative;
    top: -40px;
}

.col2 img {
    max-width: 100%;
    padding: 50px 0;
    position: relative;
    top: 89px;
    left: 41px;
    mix-blend-mode: multiply;
    opacity: 1.8;
    filter: brightness(0.9) contrast(2.);
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;

}

.btn:hover {
    background-color: #563434;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.logo {
    mix-blend-mode: multiply;
    opacity: 1.8;
    filter: brightness(0.9) contrast(2.1);
}

.col3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col3 img {
    width: 105%;
    height: 348px;
    /* Set a fixed height for all images */
    object-fit: cover;
    /*make photos perfectly align without causing unevenness */
}