/* -----main----- */

main {
    display: relative;
}

#main_heading {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
}


/* ----for the form----- */
form {
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* ------for all the labels with the class name below------ */
.style-label {
    display: block;
    margin-bottom: 7px;
    font-size: large;
    font-weight: 900;
}


/* ---------for the remove button of variant and image-------- */
.variant-style {
    margin-bottom: 7px;
    display: block;
    width: 40%;
}

input {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(97, 97, 97, 0.1);
    padding: 5px;
    height: 45px;
    font-size: medium;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom-color: rgba(250, 92, 35, 1);
    transition: border-bottom-color ease 200ms;
}

select {
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(97, 97, 97, 0.1);
    padding: 5px;
    height: 45px;
    font-size: medium;
}

select:focus {
    outline: none;
    border-color: rgba(250, 92, 35, 1);
    transition: border-color ease 200ms;
    color: rgba(250, 92, 35, 1);
}

textarea {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(97, 97, 97, 0.1);
    padding: 5px;
    /* height: 45px; */
    font-size: medium;
    width: 100%;
}

textarea:focus {
    outline: none;
    border-bottom-color: rgba(250, 92, 35, 1);
    transition: border-bottom-color ease 200ms;

}


/* -----for price and stock input fields------ */
#price,
#in_stock {
    width: 40%;
}


/* -------for note div element-------- */
.note {
    margin-top: 7px;
    margin-bottom: 7px;
}


/* ------for all the ol elements--------- */
ol {
    list-style-position: inside;
}


/* ------for all the button class elements-------- */
.button {
    width: 200px;
    font-size: 15px;
    padding: 10px;
    border: 2.5px solid black;
    border-radius: 3px;
    background: transparent;
}

.button:hover {
    color: rgb(255, 82, 59);
    border-color: rgb(255, 82, 59);
}


/* -----for all the remove button------- */
.remove_button:hover {
    color: red;
    border-color: red;
    transition: color border-color ease-out 150ms;
}

.button:active {
    color: black;
    border-color: black;
    transition: color border-color ease-out 150ms;
}

.add_button {
    width: 70px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.remove_button {
    width: 80px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0px;
    color: red;
    border-color: red;
}


/* -----for the edit button------ */
#edit-button {
    margin: auto;
    display: flex;
    justify-content: right;
}


/* ------for save and cancel button------- */
.button-bottom1 {
    width: 200px;
    margin-right: 20px;
}

.button-bottom2 {
    width: 200px;
}

.none {
    display: none;
}
