main {
    box-shadow: 5px 5px 100px 5px pink;
    margin-top: 90px;
    width: 390px;
    border-radius: 5px;
    /* text-align:center; */
}

.container {
    display: flex;
    justify-content: center;
    /* box-shadow:5px 5px 100px 5px pink; */
}

.personal_details {
    /* text-align:center; */
    margin: 13px 15px;
    padding: 2px;
    height: 60px;
    box-sizing: border-box;
}

.block_label {
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    margin: 4px;
}

input {
    font-family: sans-serif;
    font-size: 14px;
    margin: 4px 4px;
    padding: 5px;
    height: 30px;
    width: 345px;
    box-sizing: border-box;
}

#main_heading {
    margin: 25px 4px 25px;
    padding: 20px;
    font-family: sans-serif;
}

nav {
    /* background: radial-gradient(#fff,#ffd6d6); */
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: right;
}

.nav_label {
    padding: 20px;
}

.label_nav {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
}

.logo {
    display: flex;
    justify-content: left;
}

.button_style {
    width: 345px;
    font-family: sans serif;
    padding: 10px;
    background-color: rgb(255, 226, 192);
    color: black;
    margin: 4px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
}

.sign_google {
    font-family: sans-serif;
    font-size: 15px;
    margin: 4px;
}