main {
    box-shadow: 5px 5px 100px 5px pink;
    margin-top: 80px;
    width: 380px;
    /* text-align:center; */
}

.container {
    display: flex;
    justify-content: center;
    /* box-shadow:5px 5px 100px 5px pink; */
}

.personal_details {
    /* text-align:center; */
    margin: 15px;
    padding: 2px;
    height: 50px;
    box-sizing: border-box;
}

#main_heading {

    margin: 25px;
    padding: 20px;
    font-family: sans-serif;
}

nav {
    /* background: radial-gradient(#fff,#ffd6d6); */
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    justify-content: right;

}


.nav_label {
    margin: 10px;
}

.label_nav {
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
}

.block_label {
    display: block;
    font-size: 1232131px;
    padding:20vh ;
}


