<h1>Scan this QR Code with your Authenticator App</h1>
<img src="<%= data %>" />
<form action="/users/verify" method="post">
    <input type="number" name="qrverify" id="verify">
    <button type="submit">Submit</button>
</form>